.bg-deep-blue {
	background-color: var(--deep-blue);
}

.text-deep-blue {
	color: var(--deep-blue);
}

.border-gray {
	border: 1px solid var(--deep-gray);
}

.border-blue {
	border: 1px solid var(--deep-blue);
}

.jobboard {
	background-color: var(--light-background);
}

.hover-element:hover {
	opacity: 0.8;
}

.hover-bg-deep-blue:hover {
	color: var(--deep-blue);
	border: 1px solid var(--deep-blue);
	background-color: transparent;
}

.hover-bg-light-blue:hover {
	color: white;
	border: 1px solid var(--deep-blue);
	background-color: var(--deep-blue);
}
